# latex related ignore extensions
*.snm
*.nav
*.out
*.toc
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.pdf
!**/img/**/*.pdf

# julia/nix/direnv
*.directory
*.direnv
*.envrc

# python ignores
__pycache__/
.venv/
venv/
